<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Alumnos</title>
</head>

<body>
    <div class="container">
        <header class="row">
            <div class="col">
                <h1>Alumnos</h1>
            </div>
        </header>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>Nombre</th>
                                <th>CP</th>
                                <th>Localidad</th>
                                <th>Provincia</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each alumnos}}
                            <tr>
                                <td>{{this.nombre}}</td>
                                <td>{{this.cp}}</td>
                                <td>{{this.localidad}}</td>
                                <td>{{this.provincia}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>